@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #333;
  background: #f7f7f7;
  font-size: 1em;
  font-family: "Segoe UI", sans-serif;
  line-height: 135%;
}

a {
  color: #f48b8b;
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;
}

a:hover {
  color: #8b9ff5;
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;
}

a:active {
  color: #8ce4a6;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

hr {
  display: block;
  border: 0;
  height: 1px;
  border-top: 1px solid #ccc;
  padding: 0;
}


/*Selection Block*/

::selection {
  background: #f58b8b;
  color: #fff;
}

::-moz-selection {
  background: #f58b8b;
  color: #fff;
}

::-webkit-selection {
  background: #f58b8b;
  color: #fff;
}

::-ms-selection {
  background: #f58b8b;
  color: #fff;
}


header, footer {
  width: 98%;
  height: auto;
  background-color: #fff;


}

header {
  border-bottom: 2px solid silver;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.left_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28em;
}

#logo {
  font-size: 2em;
  font-family: Comic Sans MS, sans-serif;
  color: silver;
}

.contact {
  font-size: 1.5em;
  font-family: Comic Sans MS, sans-serif;
  margin-left: 20px;
}

input[type=text].field {
  border-radius: 5px;
  border: 2px solid silver;
  padding: 5px;
  margin-left: 20px;
}

input[type=text].field:focus {
  border: 2px solid #3AC7D0;
}

#menu {
  color: #666;
  font-family: Comic Sans MS, sans-serif;
  font-size: 1.7em;
}

#menu hr {
  width: 500px;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

#menuHrefs a {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  color: #010101;
  padding: 10px;
}

#menuHrefs a:hover {
  background-color: #ececec;
}

/* Основные стили для сайта */

#wrapper {
  width: 100%;
  margin-top: 20px;
}

#wrapper #articles {
  width: 70%;
  margin-left: 15%;
  display: flex;
}

#wrapper #articles article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.3%;
  border: 1px solid silver;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fafafa;
  margin-right: 2%;
  min-height: 400px;
  padding-bottom: 25px;
  background-color: #FFFFFF;
}

#wrapper #articles article img {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 10px;
}

#wrapper #articles article h2 {
  width: 90%;
  text-align: center;
  font-weight: normal;
  font: 1.7em;
  color: #4a4a4a;
}

#wrapper #articles article p {
  width: 80%;
  text-align: center;
}

#wrapper #articles article a {
  width: 100px;
  padding: 5px;
  background-color: #eb7b7b;
  border-radius: 5px;
  color: #fff;
  margin-top: 15px;
}

#wrapper #articles article a:hover {
  background-color: #3AC7D0;
}

/*Стили для странички о нас*/

#about_us {
  width: 100%;
  background-color: #F48435;
  border-radius: 5px;
  border: 1px solid silver;
  box-sizing: border-box;
  padding: 1%;
  color: #fff;
}

#about_us h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

/* Стили для формы */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 400px;
}

form label {
  width: 100%;
}

form input {
  border-radius: 5px;
  border: 2px solid silver;
  padding: 5px;
  clear: both;
  width: 100%;
  background-color: #fff;

}

form input:focus,
form textarea:focus {
  border: 2px solid #3AC7D0;
}

form input:hover,
form textarea:hover {
  border-color: #F48B8B;
  transition: all.4s ease;
  -moz-transition: all.4s ease;
  -webkit-transition: all.4s ease;
  -ms-transition: all.4s ease;
}

form textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  min-height: 20px;
  clear: both;
  background-color: #fff;
  border: 2px solid silver;
  padding: 5px;
}

form #send {

  padding: 10px;
  background-color: #8EDB24;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  border-color: #7EC61A;
}

form #send:hover {
  background-color: #8DC63D;
}

/* Стили для Регистрационной страници */

form.reg {
  height: 280px;
  margin-top: 2%;
}

/* Стили для страници входа*/

form.auth {
  height: 200px;
  margin-top: 10px;
}

/* Центральный блок нашего сайта */

#main_soc_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2% 0;
  border-bottom: 2px solid silver;
  border-top: 2px solid silver;
  margin: 20px 0;
  background: url('../img/christmas.png') repeat-x center;
  height: 200px;
}

.www {
  opacity: 0.30;
}

#main_soc_block_in {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1%;
  height: 100px;
  background-color: #fafafa;
  border-radius: 7px;
  width: 500px;
}

#main_soc_block_in a {
  align-self: center;
  padding: 5px 10px;
  background-color: #e9af32;
  border-radius: 7px;
  color: #fff;
  margin-top: 15px;
}

#articles {
  align-items: center;
  justify-content: center;
}

/* Стили для футера */
footer {
  padding: 0.5% 1% 0.5% 1%;
  border-top: 2px solid silver;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.left_footer {
  align-self: center;
}

span.right_footer {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
}

footer img {
  width: 40px;
 
}


#page-wrap:after {
  content: "";
  display: block;
}

#page-wrap:after {
  height: 40px;
}

#page-wrap {
  min-height: 94%;
  margin-bottom: -10px;
  display: flex;
  flex-direction: column;
}
